name: Update GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download stats image
        run: |
          curl -L "https://github-readme-stats-g1f76q19t-mikito5s-projects.vercel.app/api?username=mikito5&show_icons=true&theme=radical&for_
