name: Update GitHub Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Download stats images
        run: |
          curl -L https://github-readme-stats-g1f76q19t-mikito5s-projects.vercel.app/api?username=mikito5\&show_icons=true\&theme=radical -o stats.svg
          curl -L https://github-readme-stats-g1f76q19t-mikito5s-projects.vercel.app/api/top-langs/?username=mikito5\&layout=compact\&theme=radical -o top-langs.svg

      - name: Commit images
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add stats.svg top-langs.svg
          git commit -m "Update GitHub stats" || exit 0
          git push
